*{
    margin: 0;  
    padding:0;
}

body {
    font-family: "Inter Tight", serif;
}

.nav-bar{
    display: flex;
    background-color: aquamarine;
    justify-content: space-between;
}

.logo-div{
    padding: 25px;
    align-items: center;
}

.nav-links-ul{
    display: flex;
    padding: 20px;
    gap:40px;
}